.artboard {
  position: absolute;
  top: 0;
  left: 0;
}

.drawer {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  transition: left 0.25s ease;
}

.showDrawer { left: 0; }
.hideDrawer { left: -10vw; }

.drawerContent {
  width: 10vw;
}

.drawerButton {
  height: 100%;
  background: none;
  border: none;
  transition: transform 0.25s ease;
}

.drawerButtonHiding { transform: none; }
.drawerButtonShowing { transform: rotate( 180deg ); }
