.svgWrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.drawer {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  transition: left 0.25s ease;
}

.showDrawer { left: 0; }
.hideDrawer { left: -10vw; }

.drawerContent {
  width: 10vw;
}

.drawerButton {
  height: 100%;
  background: none;
  border: none;
  transition: transform 0.25s ease;
}

.drawerButtonHiding { transform: none; }
.drawerButtonShowing { transform: rotate( 180deg ); }

.artboard {
  outline: 1px solid #999;
}

.artboardOptions {
  position: absolute;
  right: 1vw;
  width: 40vw;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  transition: bottom 0.25s ease;
}

.artboardOptionsContent {
  height: 5vh;
  padding: 1vh;
  font-size: 10pt;
}

.artboardOptionsContent input {
  border: none;
  background-color: transparent;
}

.showArtboardOptions { bottom: 0; }
.hideArtboardOptions { bottom: -5vh; }

.artboardOptionsButton {
  width: 100%;
  background: none;
  border: none;
  transition: transform 0.25s ease;
}

.artboardOptionsButtonHiding { transform: none; }
.artboardOptionsButtonShowing { transform: rotate( 180deg ); }